* {
    padding:0;
    margin:0;
}
body {
    position: relative;
    width: 100%;
}

/*----------------------------NAVBAR-----------------------------------*/
header {
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}
.navbar {
    position: relative;
    display: grid;
    justify-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 1);
    text-align: center;
    margin-bottom: 20px;
    font: 400 1em/1.5 "Neuton"; background: #090d00; color: rgba(255,255,255,.25); text-align: center; margin: 0;
}
.animated-text {
	width: 800px;
	text-transform: uppercase;
	letter-spacing: .5em;
	display: inline-block;
	border: 4px double rgba(255,255,255,.25);
	border-width: 4px 0;
	padding: 15px 0em;
}
.animated-text span {
  font: 700 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */
    background: url(../img/radiant.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;

/* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
 }
/* Animate Background Image */
@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}
/*----------------------------END NAVBAR-----------------------------------*/

.container {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    background-image: radial-gradient(75% 75% at 97% 15%, #FFFFFFFF 0%, #FFFFFF00 80%, #073AFF00 100%),radial-gradient(75% 75% at 79% 48%, #C632D1FF 0%, #073AFF29 59%, #073AFF00 97%),radial-gradient(75% 75% at 52% 48%, #00FFFFFF 7%, #FFFFFF00 64%),repeating-conic-gradient(from 90deg at 50% 50%, #FF9000FF 0%, #FFF900FF 21%, #00FF39FF 38%, #00C5FFFF 55%, #5B00FFFF 70%, #FF00B7FF 87%, #FF074FFF 100%);
    border-radius: 10px;
}

.playlist {
    margin: 20px auto 20px auto;
    padding : 20px;
    border-radius: 10px;
    display:grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    /* background-color: rgba(0, 128, 255, 0.349); */
}
iframe {
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
}
iframe:hover {
    -webkit-transform: scale(1.1) rotate(0.01deg);
    transform: scale(1.1) rotate(0.01deg);
}
.col {
    display: grid;
    justify-content: center;
    width:360px;
    margin-bottom: 15px;
}
.titres {
    padding: 10px 5px 10px 5px;
}

.voirplus {
    display:grid;
    justify-content: center;
}
#voirplus-playlist {
    padding: 15px 25px 15px 25px;
    background-color: white;
    color: rgb(45,45,45);
    font-weight: 600;
    border-radius: 10px;
    border:1px solid black;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 20px;
}
.fun-pics{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 20px auto 20px auto;
    padding: 20px;
}

.fun-pics a {
    display: grid;
    justify-content: center;
    margin: 0 10px 10px 10px;
    width: 360px;
    height: 360px;
}
.fun-pics img {
    max-width: 360px;
    max-height: 360px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box {
    margin: 0 20px 0 20px;
}
/*------------------------MEDIA QUERIES-----------------------------*/


@media (max-width: 1200px) { 
    .playlist {
        grid-template-columns: 1fr 1fr;
    }
    .animated-text {
        width: 500px;
    }
    .animated-text span {
        font: 700 3em/1 "Oswald", sans-serif;
    }
}
@media (max-width: 600px) { 
    .playlist {
        grid-template-columns: 1fr;
    }
    .animated-text {
        width: 360px;
    }
    .animated-text span {
        font: 700 2em/1 "Oswald", sans-serif;
    }
}